USE [master]
GO
/****** Object:  Database [AlarmClockDB]    Script Date: 29.03.2026 11:07:28 ******/
CREATE DATABASE [AlarmClockDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlarmClockDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AlarmClockDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlarmClockDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AlarmClockDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlarmClockDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlarmClockDB]
GO
/****** Object:  Table [dbo].[Alarms]    Script Date: 29.03.2026 11:07:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlarmTime] [time](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RepeatDaily] [bit] NOT NULL,
	[Label] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alarms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Alarms] ADD  DEFAULT ((0)) FOR [RepeatDaily]
GO
ALTER TABLE [dbo].[Alarms] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
