USE [master]
GO
/****** Object:  Database [SnakeGameDB]    Script Date: 19.04.2026 14:11:06 ******/
CREATE DATABASE [SnakeGameDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SnakeGameDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SnakeGameDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SnakeGameDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SnakeGameDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SnakeGameDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SnakeGameDB]
GO
/****** Object:  Table [dbo].[GameResults]    Script Date: 19.04.2026 14:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerName] [nvarchar](50) NOT NULL,
	[Score] [int] NOT NULL,
	[GameDuration] [int] NOT NULL,
	[GameDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
