USE [master]
GO
/****** Object:  Database [MusicPlayerDB]    Script Date: 01.04.2026 18:22:30 ******/
CREATE DATABASE [MusicPlayerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicPlayerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MusicPlayerDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicPlayerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MusicPlayerDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicPlayerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicPlayerDB]
GO
/****** Object:  Table [dbo].[MusicTracks]    Script Date: 01.04.2026 18:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicTracks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Artist] [nvarchar](200) NOT NULL,
	[Album] [nvarchar](200) NULL,
	[Duration] [nvarchar](10) NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[PlayCount] [int] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[AudioData] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MusicTracks] ADD  DEFAULT ((0)) FOR [PlayCount]
GO
ALTER TABLE [dbo].[MusicTracks] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
USE [master]
GO
